#btnbrokerlist .btn1{
    margin-top: 8px;
    width: 200px;
}   
#btnbrokerlist .btn2{
    margin-top: 8px;
    width: 200px;
}   
#brokdetail
 .brokimg{
    margin-left: 190px;
}
#editbrok 
.btt{
    /* margin-right: 150px; */
   margin-right: 200px;
}
