#dvuserreset .form-control{
    border-color: #055c02;
    border-radius: 7px;
}

.button2{
    margin-left: 200px !important;
}
.button1{
    width: 100%
}
#dvuserreset .button2{
    margin-left: 40%;
}

.btn-outline-danger{
    border-radius: 30px;
}

#dvuforgotuser .form-control{
    border-color: green;
}
#dvuforgotuser .btn{
    color: white;
    margin-left: 80%;
}
#forgot{
    margin-top: 10%;
}

#dvuforgotsuccess .text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
#dvuforgotsuccess div{
   margin-top: 13%;
}